<%= form_with(model: union) do |form| %>
  <% if union.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(union.errors.count, "error") %> prohibited this union from being saved:</h2>

      <ul>
        <% union.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :members %>
    <%= form.number_field :members %>
  </div>

  <div class="field">
    <%= form.label :prosperity %>
    <%= form.number_field :prosperity %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.number_field :region %>
  </div>

  <div class="field">
    <%= form.label :cities %>
    <%= form.number_field :cities %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
